.body {
    background-color: black;
    font-family: sans-serif;
}
.myInfo {
    float: right;
}
.myInfo span, .humanInfo span {
    margin-right: 20px;
    line-height: 20px;
}
.editPath {
    position: absolute;
    font-size: 12px;
    left: -2px;
    padding: 2px;
}
.mainGame {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 600px;
    background-color: #804000;
    top: 20px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-user-select: none;
}
.overlay {
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    height: 200px;
    font-size: 40px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    border: 5px solid black;
    left: 200px;
    top: 200px;
    padding: 20px;
    cursor: pointer;
}
.infoBar {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 780px;
    height: 25px;
}
.editingControls {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    top: 650px;
}
.mapContainer {
    position:absolute;
    top: 40px;
    left: 10px;
    width: 450px;
    height: 450px;
    background-color: black;
}
.mapCanvas {
    position: absolute;
    left: 0;
    top: 0;
}
.cardContainer, .mapEditor {
    position:absolute;
    top: 40px;
    left: 470px;
    width: 320px;
    height: 450px;
    background-color: tan;
}
.controls {
    position:absolute;
    bottom: 5px;
    left: 5px;
}
.details {
    font-family: sans-serif;
    font-size: 10px;
    position:absolute;
    bottom: 160px;
    left: 5px;
}
.mapEditor {
    background-color: peach;
}
.paletteCanvas {
    cursor: pointer;
    border: 1px solid black;
}
.brushCanvas {
    border: 1px solid black;
}

.timeline {
    position:absolute;
    top: 500px;
    left: 10px;
    width: 780px;
    height: 90px;
    background-color: white;
    cursor: pointer;
}
.timelineCanvas {
    position: absolute;
    left: 30px;
    top: 0px;
}
.timeline .pathLabel {
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: right;
    font-family: sans-serif;
    font-size: 25px;
    border: 1px solid black;
    padding-right: 5px;
    box-sizing: border-box;
}

.card {
    box-sizing: border-box;
    position: absolute;
    width: 90px;
    height: 120px;
    cursor: pointer;
    padding: 8px;
    background-image: url("graphics/cardGraphics.png");
    background-position: 0 0;
}
.cardCanvas{
    margin: 2px 0;
    background-color: white;
}
.card.back {
    background-position: -90px 0;
}
.ability {
    box-sizing: border-box;
    position: absolute;
    width: 70px;
    height: 40px;
    left: 10px;
    background-color: #ACF;
    border-radius: 3px;
    border: 1px solid #008;
    line-height: 16px;
    font-size: 10px;
    padding: -1px 0px;
    overflow: hidden;
}
.ability .cost {
    position: absolute;
    bottom: 2;
    right: 2;
}
.card.a3 .ability {
    height: 30px;
}
/* hide abilities when cards are flipped */
.card.back .ability {
    display: none;
}
/* Cards with 1 ability */
.card.a1 .ability {
    top: 40px;
}
/* Cards with 2 abilities */
.card.a2 .ability:nth-of-type(1) {
    top: 15px;
}
.card.a2 .ability:nth-of-type(2) {
    top: 65px;
}
/* Cards with 3 abilities */
.card.a3 .ability:nth-of-type(1) {
    top: 10px;
}
.card.a3 .ability:nth-of-type(2) {
    top: 45px;
}
.card.a3 .ability:nth-of-type(3) {
    top: 80px;
}

.popupHelp {
    padding: 5px;
    font-size: 12px;
    font-family: sans-serif;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}